@charset "utf-8";

	*:focus {outline: none;}
	*{font-family: "Yu Gothic","游ゴシック" !important;}
	body{
		background: #000;
		text-align: center;
		position: relative;
		color: #fff;
		
	}
	body *{
		font-size: 1em;
	}
	.wrapper{
		background: url(../images/background-sparks.jpg) center top repeat-y;
		animation: sparks-move 70s infinite linear;
		position: relative;
	}
		@keyframes sparks-move{
			0%    { background-position: center top; }
			100%  { background-position: center -1150px; }
		}
		.wrapper::before , .wrapper::after{
			content: "";
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
		}
		.wrapper::before{
			opacity: .7;
			background:
				url(../images/background-fixed-tl.png) left top fixed no-repeat,
				url(../images/background-fixed-rb.png) right bottom fixed no-repeat,
				url(../images/background-blueflex.png) center center fixed;
			background-size:
				auto, 
				auto,
				100% 100%;
		}
		.wrapper::after{
			background: repeating-linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5) 1px,rgba(0,0,0,0) 0,rgba(0,0,0,0) 3px);
			z-index: 10;
		}
	.wrapper > .particle{
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 5;
	}
	.wrapper > *:not(.particle){
		position: relative;
		z-index: 20;
	}	


	a{
		text-decoration: none;
	}
	img{
		max-width: 100%;
		vertical-align: bottom;
		image-rendering: -webkit-optimize-contrast;
	}
	body > .konami-header{
		position: absolute;
		position: relative;
		z-index: 5000;
		top: 0; left: 0;
		background: rgba(0,0,0,.6);
		border-bottom: 1px solid rgba(150,150,150,.2);
	}
	
	


	header.main{
		z-index: 100;
		position: relative;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	header.main.top{
		padding: 22em 0 4em;
		background-position: center top;
		background-repeat: no-repeat;
	}
	header.main.top.mon1{background-image: url(image/ecran_titre_monster1.png); background-position: center -50px;}
	header.main.top.mon2{background-image: url(image/ecran_titre_monster2.png);}
	header.main.top.mon3{background-image: url(image/ecran_titre_monster3.png);}
	header.main.top.mon4{background-image: url(image/ecran_titre_monster4.png);}
	header.main.top.mon5{background-image: url(image/ecran_titre_monster5.png);}
	
@media screen and (min-width:768px) and (max-width:979px){
	
	header.main.top.mon1{
		background-size: 120% auto;
		
	}
}

@media screen and (max-width:767px){
	header.main.top{
		padding: 15em 0 4em;
		background-size: 150% auto;	
	}
	header.main.top.mon1{
		background-size: 120% auto;
		background-position: center top;
		transition: .2s;
	}
}
	
		header.main.top h1{
			margin-bottom: 1em;
			padding: 0 1.5em;
		}
		header.main.top h1 img{
			width: 540px;
		}	
	header.main.page{
		padding: 2em 0;
	}
	header.main.top .header-main p{
		font-size: 2.5em;
		font-weight: bold;
		text-shadow: 0 0 .5em #2137bd , 0 0 .5em #2137bd;
	}
	header.main.page h1 img{
		width: 350px;
	}
		
@media screen and (max-width:767px){
	header.main.top .header-main p{
		font-size: 1.5em;
	}
}

	main{
		position: relative;
		z-index: 100;
		padding: 1em;
	}
	main section:not(.news-entry-main) h3{
		text-align: left;
		border-bottom: 1px solid #333;
		color: #aaa;
		margin: auto auto 1em;
		line-height: 1em;
		padding-bottom: .8em;
		letter-spacing: .3em;
		font-size: 1rem;
		max-width: 980px;
	}


	
	
		main > section > *{
			margin: auto auto 1em;
		}
		
		
		
		
		main > section.message{
			position: relative;
		}
			main > section.message::before , main > section.message::after{
				content: "";
				position: absolute;
				display: block;
				left: 0;
				width: 100%; height: 1px;
				background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.3) 15%,rgba(255,255,255,0.3) 85%,rgba(255,255,255,0) 100%);
			}
			main > section.message::before{ top: 0; }
			main > section.message::after{ bottom: 0; }
			main > section.message a{
				padding: 1.1em 1em 1em; 
				font-weight: bold;
				display: block;
				color: #fff;
			}
			main > section.message a::before{
				content: "» ";
			}
			main > section.message a:hover{
				background: rgba(50,50,255,.1);
				transition: .2s;
			}
		

		
			
			
		main > section.download{
			padding: 4em 0;
		}
			main > section.download div.pickup{
				padding-top: 2em;
			}
			main > section.download div.pickup a{
				color: #fff;
				display: inlie-block;
				line-height: 1em;
				padding: .3em 1.5em;
			}
			main > section.download div.pickup a:hover{
				text-decoration: underline;
				transition: .2s;
			}
			main > section.download p span{
				display: block;
				color: #294ac4;
				font-weight: bold;
			}
			main > section.download p em{
				display: block;
				font-size: 1.8em;
				font-weight: bold;
			}
			main > section.download .download-btn{
				letter-spacing: -.40em;
				margin: auto auto 1em; 
				max-width: 980px;
			}
				main > section.download .download-btn li{
					letter-spacing: normal;
					display: inline-block;
					width: 25%;
				}
				main > section.download .download-btn li a{
					display: block;
					border: 1px solid #777;
					overflow: hidden;
					border-radius: .4em;
					margin: auto .6em;
				}
				main > section.download .download-btn li span{
					display: block;
					border: 1px solid #333;
					overflow: hidden;
					border-radius: .4em;
					margin: auto .6em;
					background: #000;
				}
				main > section.download .download-btn li span img{
					opacity: .5;
				}
				main > section.download .download-btn li a:hover{
					border: 1px solid #ddd;
					transition: .2s;
				}
				
			main > section.download span.notes{
				background: rgba(50,50,50,.7);
				color: #aaa;
				border-radius: 50em;
				display: inline-block;
				line-height: 1em;
				padding: .6em 1.8em .5em;
				font-size: .8em;
			}
@media screen and (max-width:767px){
				main > section.download .download-btn li{
					width: 50%;
				}
				main > section.download .download-btn li a{
					margin: auto .2em;
				}	
}
		
			
		main > section.introduction{
			background: url(../images/background-colud.jpg) center center fixed;
			background-size: 100% auto;
			padding: 4em 1em 3em;
			margin: auto -1em;
		}
		main > section.introduction h1{
			font-size: 2.2em;
		}
		main > section.introduction p:not(.em){
			opacity: .6;
		}
		main > section.introduction p.em{
			font-size: 1.3em;
		}
		main > section.introduction p.em span{
			font-style: italic;
		}
		main > section div.trailer{
			padding: 2em 0;
			/*background-color: rgba(150,0,0,.3);*/
			background-repeat: repeat-x;
			background-size: auto 60%;
			overflow: hidden;
			
			animation: ss-move 45s infinite linear;
			}
			@keyframes ss-move{
				0%    { background-position: 0 center; }
				100%  { background-position: -3100px center; }
			}
		
		main > section div.trailer:lang(ja){background-image: url(../images/ja/ssline.png);}
		main > section div.trailer:lang(en){background-image: url(image/ssline.png);}
		
		main > section a.movie{
			display: inline-block;
			border: 1px solid #ddd;
			box-shadow: 0 0 .5em 0 #0054ff , 0 0 .5em 0 #0054ff;
			max-width: 500px;
			overflow: hidden;
			position: relative;
			vertical-align: bottom;
		}
		main > section a.movie.mini{
			border: none;
			box-shadow: 0 0 .3em 0 #14007b , 0 0 .5em 0 #14007b;
		}
		main > section a.movie::before , main > section a.movie::after{
			content: "";
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
		}
		main > section a.movie::before{
			background:
				url(../images/play-icon.png) center center no-repeat,
				rgba(0,0,0,.5);
			background-size:
				20% auto,
				auto;
		}
		main > section a.movie.mini::before{
			background:
				url(../images/play-icon.png) center center no-repeat,
				rgba(0,0,0,.1);
			background-size:
				20% auto,
				auto;
		}
		main > section a.movie:hover::before{
			opacity: 0;
			transition: .2s;
		}
@media screen and (max-width: 767px){
		main > section.introduction{
			background-size: auto 100%;
		}
		main > section a.movie{
			border-radius: .2em;
		}
}

	main > section.movies{
		background: rgba(0,0,0,.8);
		margin: auto -1em;
		padding: 4em 1em 3em;
		margin: auto -1em;
	}
		main > section.movies h1{
			font-size: 2em;
		}
		main > section.movies p:not(.em){
			opacity: .6;
		}
		main > section.movies p.em{
			font-size: 1.3em;
		}
		main > section.movies p.em span{
			font-style: italic;
		}
		main > section.movies div{
			padding: 3em 0 1em;
		}
		main > section.movies div > p{
			margin-bottom: 1em;
		}
		main > section.movies ul{
			letter-spacing: -.40em;
		}
		main > section.movies ul li{
			letter-spacing: normal;
			display: inline-block;
		}
		main > section.movies ul li span{
			display: block;
			opacity: .5;
		}
		main > section.movies div{
			text-align: center;
		}

	.line-title{
		margin: 3em auto 2em;
		display: flex;
		max-width: 980px;
		text-align: center;
		line-height: 1em;
		align-items: center;
		justify-content: center;
	}
	.line-title span{
		display: inline-block;
		margin: auto;
		flex: 2em;
		line-height: 1em;
		color: #aaa;
	}
	.line-title::before , .line-title::after{
		content: "";
		flex: 4;
		height: 1px;
	}
	.line-title::before{
		background: linear-gradient(to right, rgba(255,255,255,.0) 0%,rgba(255,255,255,.5) 100%);
	}
	.line-title::after{
		background: linear-gradient(to right, rgba(255,255,255,.5) 0%,rgba(255,255,255,0) 100%);
	}
		
	
	ul.movieline{
		max-width: 980px;
	}
	.movieline li{
		text-align: center;
		letter-spacing: normal;
		display: inline-block;
		font-size: .7em;
		box-sizing: border-box;
		vertical-align: top;
	}
	.movieline.tutorial li{
		width: 40%;
		padding: 0 1.2%;
	}
	.movieline.stratesy li{
		width: 25%;
		padding: 0 .7%;
	}
	.movieline li a{
		margin-bottom: 1em;
	}
@media screen and (max-width:767px){
	
	.movieline.tutorial li{
		width: 50%;
		padding: 0 1.2%;
	}
	.movieline.stratesy li{
		width: 50%;
		padding: 0 1.2%;
		margin-bottom: 2em;
	}
}

		
		main > section.onlinehelp{
			padding: 3em 0em;
		}
			a.box-link{
				display: inline-block;
				max-width: 400px;
				width: 400px;
				border: 1px solid rgba(255,255,255,.5);
				color: #fff;
				padding: .8em;
				margin: auto;
			}
			a.box-link::before{
				content: "» ";
			}
			a.box-link:hover{
			    background: rgba(50,50,255,.1);
				border: 1px solid rgba(255,255,255,.8);
				transition: .2s;
			}
@media screen and (max-width:767px){
			a.box-link{
				display: block;
				width: auto;
			}
}




		main > section.information{
			letter-spacing: -.40em;
			padding: 2em 1em;
			margin: auto auto 3em;
		}
			main > section.information section{
				letter-spacing: normal;
				display: inline-block;
				margin: auto;
				vertical-align: top;
			}
			main > section.information section.news{
				max-width: 560px;
				width: 57.14285714285714%;
				box-sizing: border-box;
				padding-right: 1em;
			}
			main > section.information section.news ul{
				text-align: left;
			}
				main > section.information section.news ul li{
					text-align: left;
				}
				main > section.information section.news ul li a{
					display: block;
					color: #fff;
					font-size: .95em;
					padding: .5em;
					position: relative;
					line-height: 1.2em;
				}
				main > section.information section.news ul li a.txt{
					padding-left: 6em;
					border-bottom: 1px solid rgba(50,50,50,.7);
				}
				main > section.information section.news ul li a.txt time{
					position: absolute;
					left: 0;
					opacity: .6;
				}
				main > section.information section.news ul li a figure{
					border: 1px solid #333;
				}
				main > section.information section.news ul li a figure img{
					vertical-align: bottom;
				}
				
				main > section.information section.news ul li a:hover{
					background: rgba(30,30,30,.6);
				}
				main > section.information section.news ul li a:hover figure{
					border: 1px solid #999;
					transition: .2s;
				}
				
			main > section.information section.twitter{
				max-width: 420px;
				width: 42.85714285714286%;
			}
		.mCustomScrollbar{
			height: 400px;
		}
		
@media screen and (max-width:767px){
		main > section.information{
			padding: 2em 0;
		}
			main > section.information section.news{
				display: block;
				max-width: 100%;
				width: 100%;
				padding-right: 0;
				margin-bottom: 3em;
			}
			main > section.information section.twitter{
				display: block;
				max-width: 100%;
				width: 100%;
			}	
}
	
	

	main > .product{
		padding: 1em 0 2em;
	}
	main > .product > *:not(h3){
		max-width: 980px;
		font-size: .8em;
		text-align: left;
	}
	dl.product-information{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2em; 
	}
		dl.product-information dt{
			width: 23%;
		}
		dl.product-information dd{
			padding-left: 2%;
		}
@media screen and (max-width:767px){
	dl.product-information{
		display: block;
	}
	dl.product-information dt{
			width: 100%;
			text-align: center;
			padding-bottom: 1.5em;
	}
	dl.product-information dd{
			padding-left: 0;
		}
	dl.product-information dt img{
			width: 50%;
	}
}
			

	.product table{
		color: #aaa;
		text-align: left;
	}
	.product table caption{
		background: rgba(50,50,50,.5);
		line-height: 1em;
		padding: .65em .5em .5em;
		margin-bottom: .5em;
	}
	.product table tr > *{
		padding: .4em .5em;
	}
	.product table th{
		color: #777;
	}
	
	.product table tr.border > *{
		border-bottom: 1px solid rgba(50,50,50,.7);
	}
	.product table.require tr > *{
		padding: .2em .5em;
		
	}
	
	.product div.mobile{
		letter-spacing: -.40em;
	}
		.product div.mobile div{
			width: 49.5%;
			letter-spacing: normal;
			display: inline-block;
			vertical-align: top;
		}
		.product div.mobile div.left{margin-right: .5%;}
		.product div.mobile div.right{margin-left: .5%;}

@media screen and (max-width: 767px){
		.product div.mobile div{
			width: 100%;
			margin-bottom: 1em;
		}
		.product div.mobile div.left{margin-right: auto;}
		.product div.mobile div.right{margin-left: auto;}	
}	
	
	
/*other*/	
	
		main > section figure.platform{
				max-width: 780px;
		}
			main > section figure.platform > img{
				max-width: 50%;
			}
@media screen and (max-width: 767px){
			main > section figure.platform > img{
				max-width: 100%;
			}
}

		main > section p.trademark{
			padding-top: 2em;
			opacity: .5;
			font-size: .7em;
			color: #fff;
			line-height: 1.8em;
		}
			main > section p.trademark img{
				height: .8em;
				vertical-align: middle;
			}
			main > section p.trademark img:first-child{
				height: 1.2em;
			}
@media screen and (max-width: 767px){
		main > section p.trademark{
			line-height: 1.2em;
		}
}

		main > section figure.rating{
			padding: 1em 0 0;
			
		}
			main > section figure.rating img{
				height: 80px;
				margin: auto .2em;
			}
			main > section figure.rating img.pegicon{
				height: 60px;
			}
			main > section figure.rating figcaption{
				font-size: .6em;
				padding: .5em 0;
				font-weight: bold;
			}
	
@media screen and (max-width:767px){
			main > section figure.rating img{
				height: 50px;
			}
			main > section figure.rating img.pegicon{
				height: 37px;
			}
}

		main div.toppage{
			padding: 1em 0 3em;
			text-align: center;
		}
			main div.toppage a{
				margin: auto;
				display: block;
				max-width: 300px;
				border: 1px solid rgba(255,255,255,.5);
				color: #fff;
				padding: .3em 2em;
			}
			main div.toppage a:hover{
			    background: rgba(50,50,50,.1);
				border: 1px solid rgba(255,255,255,.8);
				transition: .2s;
			}


.footer-wrapper{
	background: rgba(0,0,0,.6);
	border-top: 1px solid rgba(150,150,150,.2);
}
	.page-top{
		border-color: #222;
	}
	.copyright{
		max-width: 980px;
		text-align: center;
		margin: auto;
		padding: 0 0 .5em;
	}
		.copyright small{
			font-size: .75em;
			line-height: 1.3em;
			color: #888;
			display: block;
			padding-bottom: .2em;
		}
	


/*

	.development{
		display: block !important;
		padding: .5em 0;
		text-align: center;
	}
	.development small{
		background: #1a1a1a;
		color: #ccc;
		display: inline-block;
		line-height: 1em;
		padding: .6em 2em .4em;
		font-size: .8em;
		border-radius: 20em;
		margin: auto;
	}
@media screen and (max-width:767px){
	.development small{
		margin: auto 1em;
	}
}

*/





